@model teaMart.Models.ImageChart

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<h3>Add Image</h3>

<div class="btn btn-primary">
    <a asp-action="Index" style="text-decoration:none; color:azure">Back to List</a>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="return checkForm()" id="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" required />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input type="file" id="pic" name="pic" class="form-control" accept="image/*" onchange="upload(this)">
                <!-- 隐藏域用于保存上传后图片的路径，提交到后端 -->
                <input type="hidden" name="ImageUrl" id="img" value="" required />
                <!-- 显示上传后的图片预览 -->
                <div id="showImg"></div>
            </div>
            <div class="form-group">
                <input class="form-control" type="hidden", name="createtime" value="@DateTime.Now" />
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control">
                    <option value="-1">--select--</option>
                    <option value="1">Showing</option>
                    <option value="0">Hidden</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
    // 实现异步图片上传
    function upload(input) {
        var file = input.files[0];
        if (!file) {
            alert("请选择图片文件");
            return;
        }
        var imgPath = input.value;
        // 检查文件扩展名
        var strExtension = imgPath.substr(imgPath.lastIndexOf('.') + 1).toLowerCase();
        if (strExtension != 'jpg' && strExtension != 'gif' && strExtension != 'png' && strExtension != 'bmp') {
            alert("请选择图片文件");
            return;
        }
        // 检查文件类型
        if (file.type.search('image') === -1) {
            alert('只支持上传图片');
            return;
        }
        // 构造 FormData，包含整个表单数据
        var formData = new FormData($("#myForm")[0]);
        $.ajax({
            url: "/Upload/file", // 上传接口
            type: "post",
            cache: false,
            processData: false,
            contentType: false,
            data: formData,
            success: function (res) {
                res = res.trim();
                // 处理后端返回的各种状态码
                if (res == "209") {
                    alert("请选择图片！");
                    return;
                }
                if (res == "300") {
                    alert("上传的图片不能为空图片！");
                    return;
                }
                if (res == "400") {
                    alert("上传的图片失败！");
                    return;
                }
                // 上传成功，显示图片预览，并将图片路径写入隐藏域
                $("#showImg").html("<img src='" + res + "' width='150' height='150' /><p style='color:red;'>上传成功！</p>");
                $("#img").val(res);
                // 自动填充URL输入框
                $("#Url").val(res);
            },
            error: function () {
                alert("上传异常！");
            }
        });
    }
</script>


