USE [master]
GO
/****** Object:  Database [TeaShopProject]    Script Date: 2024/9/26 22:01:47 ******/
CREATE DATABASE [TeaShopProject] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeaShopProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeaShopProject]
GO
/****** Object:  Table [dbo].[address]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[province] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[area] [varchar](50) NULL,
	[detail] [varchar](250) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[phone] [char](11) NOT NULL,
	[mark] [varchar](50) NULL,
	[createtime] [datetime] NULL,
	[uid] [int] NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apply_return]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apply_return](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NOT NULL,
	[pid] [int] NOT NULL,
	[business_mark] [varchar](50) NULL,
	[return_reason] [varchar](50) NOT NULL,
	[user_mark] [varchar](50) NULL,
	[status] [smallint] NOT NULL,
	[order_id] [int] NOT NULL,
	[createtime] [datetime] NOT NULL,
 CONSTRAINT [PK_apply_return] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[article]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[detail] [text] NOT NULL,
	[createtime] [datetime] NOT NULL,
	[sight] [int] NOT NULL,
 CONSTRAINT [PK_article] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NULL,
	[pid] [int] NULL,
	[number] [int] NULL,
	[createtime] [datetime] NULL,
	[aid] [int] NULL,
 CONSTRAINT [PK_cart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[catename] [varchar](50) NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_message]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_message](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[message] [varchar](255) NULL,
	[from_userid] [int] NOT NULL,
	[to_userid] [int] NOT NULL,
	[send_time] [datetime] NOT NULL,
	[is_read] [smallint] NOT NULL,
 CONSTRAINT [PK_chat_message] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[discount_amount] [decimal](10, 2) NOT NULL,
	[discount_type] [varchar](20) NOT NULL,
	[sum_count] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[used_count] [int] NOT NULL,
	[should_money] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_coupons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[get_coupon]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[get_coupon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[coupon_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[createtime] [datetime] NOT NULL,
	[is_use] [smallint] NULL,
 CONSTRAINT [PK_get_coupon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_chart]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_chart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](100) NOT NULL,
	[image_url] [varchar](100) NOT NULL,
	[createtime] [datetime] NOT NULL,
	[state] [smallint] NOT NULL,
 CONSTRAINT [PK_image_chart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_comment]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[detail] [varchar](250) NOT NULL,
	[pid] [int] NULL,
	[score] [tinyint] NULL,
	[createtime] [datetime] NULL,
 CONSTRAINT [PK_order_comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NOT NULL,
	[order_num] [varchar](50) NOT NULL,
	[sum_price] [decimal](8, 2) NOT NULL,
	[mark] [varchar](50) NOT NULL,
	[createtime] [datetime] NOT NULL,
	[is_pay] [smallint] NOT NULL,
	[state] [smallint] NOT NULL,
	[pay_way] [varchar](20) NOT NULL,
	[address_id] [int] NOT NULL,
	[dec_money] [decimal](18, 2) NOT NULL,
	[coupon_id] [int] NOT NULL,
	[express_name] [varchar](100) NULL,
	[express_number] [varchar](50) NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_detail]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[count] [int] NULL,
	[price] [decimal](8, 2) NULL,
	[sum_price] [decimal](8, 2) NULL,
	[pid] [int] NULL,
	[title] [varchar](255) NULL,
	[aid] [int] NULL,
 CONSTRAINT [PK_orders_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[cid] [int] NOT NULL,
	[price] [decimal](8, 2) NOT NULL,
	[sale_price] [decimal](8, 2) NOT NULL,
	[number] [int] NOT NULL,
	[detail] [text] NOT NULL,
	[img] [varchar](255) NOT NULL,
	[state] [smallint] NOT NULL,
	[createtime] [datetime] NOT NULL,
	[score] [tinyint] NOT NULL,
	[postage] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_attribute]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_attribute](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](250) NULL,
	[price] [decimal](18, 2) NULL,
	[pid] [int] NULL,
 CONSTRAINT [PK_attribute] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[image_url] [varchar](100) NULL,
 CONSTRAINT [PK_product_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_save]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_save](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NULL,
	[pid] [int] NULL,
	[createtime] [datetime] NULL,
 CONSTRAINT [PK_product_save] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[return_set]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[return_set](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[province] [varchar](50) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[area] [varchar](50) NOT NULL,
	[detail] [varchar](250) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[phone] [char](11) NOT NULL,
	[mark] [varchar](50) NULL,
	[createtime] [datetime] NOT NULL,
 CONSTRAINT [PK_return_set] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2024/9/26 22:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[pwd] [varchar](50) NOT NULL,
	[nickname] [varchar](50) NOT NULL,
	[sex] [char](2) NULL,
	[introduce] [varchar](100) NULL,
	[age] [int] NULL,
	[img] [varchar](200) NULL,
	[mibao] [varchar](100) NULL,
	[role] [smallint] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([id], [province], [city], [area], [detail], [name], [phone], [mark], [createtime], [uid]) VALUES (1, N'内蒙古自治区', N'呼和浩特市', N'回民区', N'朝阳小区10号楼101房', N'陈飞', N'18877881231', N'家里', CAST(N'2024-09-22T16:11:02.000' AS DateTime), 25)
INSERT [dbo].[address] ([id], [province], [city], [area], [detail], [name], [phone], [mark], [createtime], [uid]) VALUES (3, N'广西壮族自治区', N'柳州市', N'鱼峰区', N'朝阳路32号101房', N'陈浩', N'16677881232', N'女朋友家地址', CAST(N'2024-09-06T10:20:58.000' AS DateTime), 10)
INSERT [dbo].[address] ([id], [province], [city], [area], [detail], [name], [phone], [mark], [createtime], [uid]) VALUES (5, N'山西省', N'太原市', N'小店区', N'朝阳小区10号楼101房', N'精品土豆', N'16600881232', N'家里', CAST(N'2024-09-25T09:56:58.000' AS DateTime), 29)
SET IDENTITY_INSERT [dbo].[address] OFF
GO
SET IDENTITY_INSERT [dbo].[apply_return] ON 

INSERT [dbo].[apply_return] ([id], [uid], [pid], [business_mark], [return_reason], [user_mark], [status], [order_id], [createtime]) VALUES (10, 31, 24, N'没发货，还是可以正常换货的。', N'商品调换，需要退货', N'买错规格了，帮我替换一下', 1, 20, CAST(N'2024-09-25T10:45:52.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[apply_return] OFF
GO
SET IDENTITY_INSERT [dbo].[article] ON 

SET IDENTITY_INSERT [dbo].[article] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [uid], [pid], [number], [createtime], [aid]) VALUES (23, 25, 26, 1, CAST(N'2024-09-26T13:46:17.593' AS DateTime), 0)
INSERT [dbo].[cart] ([id], [uid], [pid], [number], [createtime], [aid]) VALUES (24, 25, 61, 3, CAST(N'2024-09-26T13:46:44.707' AS DateTime), 29)
INSERT [dbo].[cart] ([id], [uid], [pid], [number], [createtime], [aid]) VALUES (25, 25, 61, 2, CAST(N'2024-09-26T13:48:39.700' AS DateTime), 30)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [catename]) VALUES (1, N'茗茶')
INSERT [dbo].[category] ([id], [catename]) VALUES (3, N'养生茶饮')
INSERT [dbo].[category] ([id], [catename]) VALUES (6, N'花草/养生茶')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[chat_message] ON 

INSERT [dbo].[chat_message] ([id], [message], [from_userid], [to_userid], [send_time], [is_read]) VALUES (56, N'你好！', 25, 24, CAST(N'2024-09-16T06:04:53.727' AS DateTime), 1)
INSERT [dbo].[chat_message] ([id], [message], [from_userid], [to_userid], [send_time], [is_read]) VALUES (59, N'你好，晓明！', 25, 21, CAST(N'2024-09-16T06:06:42.520' AS DateTime), 1)
INSERT [dbo].[chat_message] ([id], [message], [from_userid], [to_userid], [send_time], [is_read]) VALUES (60, N'哈哈！！', 21, 25, CAST(N'2024-09-16T06:07:33.813' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[chat_message] OFF
GO
SET IDENTITY_INSERT [dbo].[coupons] ON 

INSERT [dbo].[coupons] ([id], [title], [discount_amount], [discount_type], [sum_count], [start_date], [end_date], [used_count], [should_money]) VALUES (3, N'满100打9折', CAST(0.90 AS Decimal(10, 2)), N'折扣券', 1000, CAST(N'2024-08-20T00:00:00.000' AS DateTime), CAST(N'2024-08-31T00:00:00.000' AS DateTime), 2, CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[coupons] ([id], [title], [discount_amount], [discount_type], [sum_count], [start_date], [end_date], [used_count], [should_money]) VALUES (4, N'满100打95折', CAST(0.95 AS Decimal(10, 2)), N'折扣券', 100, CAST(N'2024-08-20T16:00:00.000' AS DateTime), CAST(N'2024-09-01T00:00:00.000' AS DateTime), 2, CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[coupons] ([id], [title], [discount_amount], [discount_type], [sum_count], [start_date], [end_date], [used_count], [should_money]) VALUES (6, N'满50减5元', CAST(5.00 AS Decimal(10, 2)), N'满减券', 994, CAST(N'2024-08-20T00:00:00.000' AS DateTime), CAST(N'2024-12-31T23:59:00.000' AS DateTime), 2, CAST(50.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[get_coupon] ON 

INSERT [dbo].[get_coupon] ([id], [coupon_id], [user_id], [createtime], [is_use]) VALUES (5, 7, 25, CAST(N'2024-09-22T14:18:37.167' AS DateTime), 0)
INSERT [dbo].[get_coupon] ([id], [coupon_id], [user_id], [createtime], [is_use]) VALUES (6, 3, 21, CAST(N'2024-09-22T14:38:23.887' AS DateTime), 0)
INSERT [dbo].[get_coupon] ([id], [coupon_id], [user_id], [createtime], [is_use]) VALUES (7, 7, 25, CAST(N'2024-09-24T14:21:47.383' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[get_coupon] OFF
GO
SET IDENTITY_INSERT [dbo].[image_chart] ON 

INSERT [dbo].[image_chart] ([id], [url], [image_url], [createtime], [state]) VALUES (17, N'/Home/Details?id=26', N'/pic/p1.png', CAST(N'2024-09-23T15:00:26.000' AS DateTime), 1)
INSERT [dbo].[image_chart] ([id], [url], [image_url], [createtime], [state]) VALUES (18, N'/Home/Details?id=24', N'/pic/p2.png', CAST(N'2024-09-23T15:01:17.000' AS DateTime), 1)
INSERT [dbo].[image_chart] ([id], [url], [image_url], [createtime], [state]) VALUES (19, N'/Home/Details?id=28', N'/pic/p3.png', CAST(N'2024-09-23T15:01:39.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[image_chart] OFF
GO
SET IDENTITY_INSERT [dbo].[order_comment] ON 

INSERT [dbo].[order_comment] ([id], [user_id], [order_id], [detail], [pid], [score], [createtime]) VALUES (9, 25, 21, N'该茶叶很好，味道很正，很喜欢！', 24, 5, CAST(N'2024-09-26T13:58:59.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[order_comment] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [uid], [order_num], [sum_price], [mark], [createtime], [is_pay], [state], [pay_way], [address_id], [dec_money], [coupon_id], [express_name], [express_number]) VALUES (15, 29, N'2024092510001567959780', CAST(0.00 AS Decimal(8, 2)), N'记得发货！', CAST(N'2024-09-25T10:00:15.680' AS DateTime), 0, 0, N'支付宝', 6, CAST(0.00 AS Decimal(18, 2)), 0, N'', N'')
INSERT [dbo].[orders] ([id], [uid], [order_num], [sum_price], [mark], [createtime], [is_pay], [state], [pay_way], [address_id], [dec_money], [coupon_id], [express_name], [express_number]) VALUES (19, 17, N'2024092510114741049130', CAST(134.79 AS Decimal(8, 2)), N'尽快发货！', CAST(N'2024-09-25T10:11:47.410' AS DateTime), 1, 2, N'支付宝', 7, CAST(7.09 AS Decimal(18, 2)), 18, N'顺丰快递', N'sf1112222qq')
INSERT [dbo].[orders] ([id], [uid], [order_num], [sum_price], [mark], [createtime], [is_pay], [state], [pay_way], [address_id], [dec_money], [coupon_id], [express_name], [express_number]) VALUES (20, 31, N'2024092510444209436116', CAST(182.59 AS Decimal(8, 2)), N'尽快发货！', CAST(N'2024-09-25T10:44:42.097' AS DateTime), 1, 6, N'支付宝', 8, CAST(9.61 AS Decimal(18, 2)), 22, N'', N'')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[orders_detail] ON 

INSERT [dbo].[orders_detail] ([id], [order_id], [count], [price], [sum_price], [pid], [title], [aid]) VALUES (25, 15, 2, CAST(23.80 AS Decimal(8, 2)), CAST(47.60 AS Decimal(8, 2)), 42, N'人参五宝茶150g(5g*30)玛咖黄精枸杞男性养生滋补茶可定制', 0)
INSERT [dbo].[orders_detail] ([id], [order_id], [count], [price], [sum_price], [pid], [title], [aid]) VALUES (32, 19, 1, CAST(88.00 AS Decimal(8, 2)), CAST(88.00 AS Decimal(8, 2)), 26, N'尚芷 茶叶茉莉花茶 特级浓香型川派绿茶花草茶自饮茗茶便携小罐', 20)
INSERT [dbo].[orders_detail] ([id], [order_id], [count], [price], [sum_price], [pid], [title], [aid]) VALUES (33, 20, 1, CAST(36.20 AS Decimal(8, 2)), CAST(36.20 AS Decimal(8, 2)), 24, N'中茶陈皮普洱茶云南勐海熟普5g体验装便携独立小方片茶叶', 0)
SET IDENTITY_INSERT [dbo].[orders_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [title], [cid], [price], [sale_price], [number], [detail], [img], [state], [createtime], [score], [postage]) VALUES (24, N'中茶陈皮普洱茶云南勐海熟普5g体验装便携独立小方片茶叶', 3, CAST(48.00 AS Decimal(8, 2)), CAST(36.20 AS Decimal(8, 2)), 794, N'<p><img src="/upload/image/20240925/6386289919729690292552502.png" title="image.png" alt="image.png"/></p>', N'/pic/34.png', 1, CAST(N'2024-09-23T15:03:10.000' AS DateTime), 5, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[product] ([id], [title], [cid], [price], [sale_price], [number], [detail], [img], [state], [createtime], [score], [postage]) VALUES (26, N'尚芷 茶叶茉莉花茶 特级浓香型川派绿茶花草茶自饮茗茶便携小罐', 3, CAST(99.00 AS Decimal(8, 2)), CAST(79.90 AS Decimal(8, 2)), 798, N'<p><img src="/upload/image/20240925/6386289918051780849119920.png" title="image.png" alt="image.png"/></p>', N'/pic/35.png', 1, CAST(N'2024-09-23T15:03:10.000' AS DateTime), 5, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[product] ([id], [title], [cid], [price], [sale_price], [number], [detail], [img], [state], [createtime], [score], [postage]) VALUES (28, N'沐龙春金骏眉红茶特级正宗武夷山原产125g*2罐装 2024新茶茶', 3, CAST(200.00 AS Decimal(8, 2)), CAST(167.00 AS Decimal(8, 2)), 800, N'<p><img src="/upload/image/20240925/6386289919729690292552502.png" title="image.png" alt="image.png"/></p>', N'/pic/36.png', 1, CAST(N'2024-09-23T15:03:10.000' AS DateTime), 5, CAST(0 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[product_attribute] ON 

INSERT [dbo].[product_attribute] ([id], [title], [price], [pid]) VALUES (29, N'八马茶盘+原矿紫砂茶具套装 1件', CAST(66.00 AS Decimal(18, 2)), 61)
INSERT [dbo].[product_attribute] ([id], [title], [price], [pid]) VALUES (30, N'磁石八马茶盘+古韵矿紫砂茶具套装 1件', CAST(88.00 AS Decimal(18, 2)), 61)
INSERT [dbo].[product_attribute] ([id], [title], [price], [pid]) VALUES (31, N'汝窑茶具+窗花四合一茶盘 1件', CAST(79.00 AS Decimal(18, 2)), 61)
SET IDENTITY_INSERT [dbo].[product_attribute] OFF
GO
SET IDENTITY_INSERT [dbo].[product_images] ON 

INSERT [dbo].[product_images] ([id], [pid], [image_url]) VALUES (55, 24, N'/pic/0925220443.png')
INSERT [dbo].[product_images] ([id], [pid], [image_url]) VALUES (56, 24, N'/pic/0925220448.png')
INSERT [dbo].[product_images] ([id], [pid], [image_url]) VALUES (57, 24, N'/pic/0925220456.png')
SET IDENTITY_INSERT [dbo].[product_images] OFF
GO
SET IDENTITY_INSERT [dbo].[product_save] ON 

INSERT [dbo].[product_save] ([id], [uid], [pid], [createtime]) VALUES (8, 30, 24, CAST(N'2024-09-25T10:25:29.363' AS DateTime))
SET IDENTITY_INSERT [dbo].[product_save] OFF
GO
SET IDENTITY_INSERT [dbo].[return_set] ON 

INSERT [dbo].[return_set] ([id], [province], [city], [area], [detail], [name], [phone], [mark], [createtime]) VALUES (1, N'北京市', N'市辖区', N'石景山区', N'朝阳路32号101房', N'陈浩', N'18877123111', N'商品退货接收', CAST(N'2024-08-19T19:33:03.000' AS DateTime))
INSERT [dbo].[return_set] ([id], [province], [city], [area], [detail], [name], [phone], [mark], [createtime]) VALUES (2, N'内蒙古自治区', N'呼和浩特市', N'新城区', N'朝阳路32号101房', N'陈浩', N'16677881232', NULL, CAST(N'2024-09-20T12:50:18.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[return_set] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [phone], [pwd], [nickname], [sex], [introduce], [age], [img], [mibao], [role]) VALUES (1, N'18877881231', N'oi4Rg1h9fI798WQ6/ttMUUxlb1lpKmEuMTIzIS09X0B+', N'哈哈大管理员', N'男', N'嘿嘿！', 22, N'/pic/0920150751.png', N'热爱动物', 2)
INSERT [dbo].[user] ([id], [phone], [pwd], [nickname], [sex], [introduce], [age], [img], [mibao], [role]) VALUES (3, N'17788812312', N'oi4Rg1h9fI798WQ6/ttMUUxlb1lpKmEuMTIzIS09X0B+', N'陈锋', N'男', N'帅哥', 18, N'/img/0819225431.png', N'运动', 1)
INSERT [dbo].[user] ([id], [phone], [pwd], [nickname], [sex], [introduce], [age], [img], [mibao], [role]) VALUES (7, N'16677881232', N'oi4Rg1h9fI798WQ6/ttMUUxlb1lpKmEuMTIzIS09X0B+', N'哈奇', N'男', N'嘿嘿！', 19, N'/img/0817110501.png', N'跑步', 0)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[article] ADD  CONSTRAINT [DF_article_sight]  DEFAULT ((0)) FOR [sight]
GO
ALTER TABLE [dbo].[get_coupon] ADD  CONSTRAINT [DF_get_coupon_is_use]  DEFAULT ((0)) FOR [is_use]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF_orders_state]  DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_state]  DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_score]  DEFAULT ((10)) FOR [score]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_postage]  DEFAULT ((0)) FOR [postage]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_role]  DEFAULT ((0)) FOR [role]
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD  CONSTRAINT [FK_address_user] FOREIGN KEY([uid])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[address] CHECK CONSTRAINT [FK_address_user]
GO
ALTER TABLE [dbo].[apply_return]  WITH CHECK ADD  CONSTRAINT [FK_apply_return_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[apply_return] CHECK CONSTRAINT [FK_apply_return_orders]
GO
ALTER TABLE [dbo].[apply_return]  WITH CHECK ADD  CONSTRAINT [FK_apply_return_product] FOREIGN KEY([pid])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[apply_return] CHECK CONSTRAINT [FK_apply_return_product]
GO
ALTER TABLE [dbo].[apply_return]  WITH CHECK ADD  CONSTRAINT [FK_apply_return_user] FOREIGN KEY([uid])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[apply_return] CHECK CONSTRAINT [FK_apply_return_user]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_product] FOREIGN KEY([pid])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_product]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_user] FOREIGN KEY([uid])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_user]
GO
ALTER TABLE [dbo].[get_coupon]  WITH CHECK ADD  CONSTRAINT [FK_get_coupon_coupons] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[get_coupon] CHECK CONSTRAINT [FK_get_coupon_coupons]
GO
ALTER TABLE [dbo].[get_coupon]  WITH CHECK ADD  CONSTRAINT [FK_get_coupon_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[get_coupon] CHECK CONSTRAINT [FK_get_coupon_user]
GO
ALTER TABLE [dbo].[order_comment]  WITH CHECK ADD  CONSTRAINT [FK_order_comment_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_comment] CHECK CONSTRAINT [FK_order_comment_orders]
GO
ALTER TABLE [dbo].[order_comment]  WITH CHECK ADD  CONSTRAINT [FK_order_comment_product] FOREIGN KEY([pid])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_comment] CHECK CONSTRAINT [FK_order_comment_product]
GO
ALTER TABLE [dbo].[order_comment]  WITH CHECK ADD  CONSTRAINT [FK_order_comment_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_comment] CHECK CONSTRAINT [FK_order_comment_user]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_user] FOREIGN KEY([uid])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_user]
GO
ALTER TABLE [dbo].[orders_detail]  WITH CHECK ADD  CONSTRAINT [FK_orders_detail_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders_detail] CHECK CONSTRAINT [FK_orders_detail_orders]
GO
ALTER TABLE [dbo].[orders_detail]  WITH CHECK ADD  CONSTRAINT [FK_orders_detail_product] FOREIGN KEY([pid])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders_detail] CHECK CONSTRAINT [FK_orders_detail_product]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_category] FOREIGN KEY([cid])
REFERENCES [dbo].[category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_category]
GO
ALTER TABLE [dbo].[product_attribute]  WITH CHECK ADD  CONSTRAINT [FK_attribute_product] FOREIGN KEY([pid])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_attribute] CHECK CONSTRAINT [FK_attribute_product]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK_product_images_product] FOREIGN KEY([pid])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK_product_images_product]
GO
ALTER TABLE [dbo].[product_save]  WITH CHECK ADD  CONSTRAINT [FK_product_save_product] FOREIGN KEY([pid])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_save] CHECK CONSTRAINT [FK_product_save_product]
GO
ALTER TABLE [dbo].[product_save]  WITH CHECK ADD  CONSTRAINT [FK_product_save_user] FOREIGN KEY([uid])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_save] CHECK CONSTRAINT [FK_product_save_user]
GO
USE [master]
GO
